/* line 5, ../_sass/app.sass */
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 10, ../_sass/app.sass */
#awesome_video {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* line 17, ../_sass/app.sass */
.video_container {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 24, ../_sass/app.sass */
body {
  background: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
}

/* line 28, ../_sass/app.sass */
a {
  color: #0cc6e8;
}

/* line 30, ../_sass/app.sass */
.header {
  width: 100%;
  margin-top: 2em;
}

/* line 34, ../_sass/app.sass */
.header .logo {
  width: 200px;
  height: 32px;
  background-size: 200px 28px;
  overflow: hidden;
  z-index: 100;
  background: url("../images/logo_new.png") no-repeat;
  text-indent: -9999px;
}

/* line 43, ../_sass/app.sass */
.mission-statement {
  text-align: center;
  color: whitesmoke;
}

/* line 48, ../_sass/app.sass */
.mission-statement h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 0.1em;
}

/* line 55, ../_sass/app.sass */
.mission-statement h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

/* line 61, ../_sass/app.sass */
.sign-up-form {
  margin: 0 auto;
  width: 30%;
  margin-top: 5em;
}

/* line 67, ../_sass/app.sass */
.emailfield {
  width: 80%;
  padding: 5% 10% 5% 10%;
  border: 1px solid whitesmoke;
  margin: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1em;
  background: none;
  color: #022329;
}

/* line 79, ../_sass/app.sass */
.emailfield:focus {
  background-color: whitesmoke;
  border-color: #3198d3;
}

/* line 83, ../_sass/app.sass */
.button {
  color: whitesmoke;
  width: 80%;
  padding: 5% 10% 5% 10%;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 94, ../_sass/app.sass */
.button-main {
  background-color: #3198d3;
  margin-top: 1em;
}

/* line 98, ../_sass/app.sass */
.button-main:hover {
  background-color: #298ac1;
}

/* line 100, ../_sass/app.sass */
.button-main:active {
  background-color: #206c97;
}

/* line 102, ../_sass/app.sass */
.button-secondary {
  margin-top: 1em;
}

/* line 105, ../_sass/app.sass */
.container {
  width: 1140px;
  margin: 0 auto;
}
