/* line 7, ../_sass/app.sass */
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 12, ../_sass/app.sass */
#awesome_video {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* line 19, ../_sass/app.sass */
.video_container {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 26, ../_sass/app.sass */
body {
  background: #eeeeee;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
}

/* line 30, ../_sass/app.sass */
a {
  color: #0cc6e8;
}

/* line 33, ../_sass/app.sass */
.header {
  width: 100%;
  margin-top: 2em;
}

/* line 37, ../_sass/app.sass */
.header .logo {
  width: 200px;
  height: 32px;
  background-size: 200px 28px;
  overflow: hidden;
  z-index: 100;
  margin-top: 20px;
  background: url("../images/logo_new.png") no-repeat;
  text-indent: -9999px;
}

/* line 47, ../_sass/app.sass */
.mission-statement {
  text-align: center;
  color: whitesmoke;
}

/* line 52, ../_sass/app.sass */
h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 2em;
  margin-bottom: 0.1em;
}

/* line 59, ../_sass/app.sass */
h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

/* line 63, ../_sass/app.sass */
h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

/* line 68, ../_sass/app.sass */
.call-out {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
}

/* line 74, ../_sass/app.sass */
.sign-up-form {
  margin: 0 auto;
  width: 30%;
  margin-top: 5em;
}

/* line 79, ../_sass/app.sass */
.emailfield {
  width: 80%;
  padding: 5% 10% 5% 10%;
  border: 1px solid whitesmoke;
  margin: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1em;
  background: none;
  color: #022329;
}

/* line 91, ../_sass/app.sass */
.emailfield:focus {
  background-color: whitesmoke;
  border-color: #3198d3;
}

/* line 95, ../_sass/app.sass */
.button {
  color: whitesmoke;
  width: 80%;
  padding: 5% 10% 5% 10%;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 106, ../_sass/app.sass */
.button-main {
  background-color: #3198d3;
  margin-top: 1em;
}

/* line 110, ../_sass/app.sass */
.button-main:hover {
  background-color: #298ac1;
}

/* line 112, ../_sass/app.sass */
.button-main:active {
  background-color: #206c97;
}

/* line 114, ../_sass/app.sass */
.button-secondary {
  margin-top: 1em;
}

/* line 117, ../_sass/app.sass */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* line 121, ../_sass/app.sass */
.features {
  color: #022329;
  text-align: center;
  padding-top: 100px;
}

/* line 126, ../_sass/app.sass */
.row {
  margin-bottom: 400px;
}

/* line 129, ../_sass/app.sass */
.area {
  margin-bottom: 200px;
}

/* line 132, ../_sass/app.sass */
.how_img {
  margin-top: 80px;
}

/* line 137, ../_sass/app.sass */
.video-note {
  line-height: 50px;
  vertical-align: middle;
}
/* line 140, ../_sass/app.sass */
.video-note img {
  height: 50px;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-left: 1em;
}

/* line 146, ../_sass/app.sass */
footer {
  text-align: center;
}
