/* line 8, ../_sass/app.sass */
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 13, ../_sass/app.sass */
#awesome_video {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* line 20, ../_sass/app.sass */
.video_container {
  position: absolute;
  z-index: -9999;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 27, ../_sass/app.sass */
body {
  background: #022329;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
  margin: 0;
}

/* line 32, ../_sass/app.sass */
a {
  color: #0cc6e8;
}

/* line 35, ../_sass/app.sass */
.row {
  margin: 0 auto;
}

/* line 38, ../_sass/app.sass */
.white-bg {
  background: whitesmoke;
}

/* line 41, ../_sass/app.sass */
.header {
  width: 100%;
}
/* line 43, ../_sass/app.sass */
.header .logo {
  width: 184px;
  height: 44px;
  margin: 0;
  margin-left: 50px;
  margin-top: 50px;
  background-size: 184px 44px;
  overflow: hidden;
  z-index: 100;
  background: url("../images/logo_new.png") no-repeat;
  text-indent: -9999px;
}

/* line 55, ../_sass/app.sass */
.mission-statement {
  text-align: center;
  color: whitesmoke;
}

/* line 59, ../_sass/app.sass */
h1 {
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 1em;
  margin-bottom: 0.1em;
}

/* line 66, ../_sass/app.sass */
h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

/* line 70, ../_sass/app.sass */
h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}

/* line 74, ../_sass/app.sass */
.call-out {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
}

/* line 80, ../_sass/app.sass */
.sign-up-form {
  margin: 0 auto;
  width: 25%;
  margin-top: 5em;
}
/* line 84, ../_sass/app.sass */
.sign-up-form .label {
  margin-bottom: 5px;
}

/* line 86, ../_sass/app.sass */
.emailfield {
  width: 80%;
  padding: 5% 10% 5% 10%;
  border: 1px solid whitesmoke;
  margin: 0;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1em;
  background: none;
  color: #022329;
}

/* line 98, ../_sass/app.sass */
.emailfield:focus {
  background-color: whitesmoke;
  border-color: #3198d3;
}

/* line 102, ../_sass/app.sass */
.button {
  color: whitesmoke;
  width: 80%;
  padding: 5% 10% 5% 10%;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1em;
  font-weight: 600;
}

/* line 114, ../_sass/app.sass */
.button-main {
  color: whitesmoke;
  width: 100%;
  padding: 5% 10% 5% 10%;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1em;
  font-weight: 600;
  background-color: #3198d3;
  margin-top: 1em;
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6);
  text-shadow: 0 -1px 0 #298ac1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 132, ../_sass/app.sass */
.button-main:hover {
  background-color: #298ac1;
  text-shadow: 0 -1px 0 #206c97;
}

/* line 135, ../_sass/app.sass */
.button-main:active {
  background-color: #206c97;
}

/* line 137, ../_sass/app.sass */
.button-secondary {
  margin-top: 1em;
}

/* line 139, ../_sass/app.sass */
.button-secondary:hover {
  margin-top: 1em;
  color: #3198d3;
}

/* line 142, ../_sass/app.sass */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 145, ../_sass/app.sass */
.row {
  padding-bottom: 100px;
  padding-top: 100px;
}

/* line 149, ../_sass/app.sass */
.video_header {
  margin-bottom: 0px;
}

/* line 152, ../_sass/app.sass */
.features {
  color: #022329;
  text-align: center;
}

/* line 156, ../_sass/app.sass */
.how {
  padding-top: 30px;
  background: #3198d3;
  color: whitesmoke;
}

/* line 161, ../_sass/app.sass */
.area {
  margin-bottom: 100px;
}

/* line 164, ../_sass/app.sass */
.how_img {
  margin-top: 80px;
}

/* line 166, ../_sass/app.sass */
.how_video {
  margin-top: 80px;
  width: 50%;
}

/* line 169, ../_sass/app.sass */
.copy {
  background: #31d37d;
  color: whitesmoke;
}
/* line 172, ../_sass/app.sass */
.copy h1 {
  margin-top: 0;
}

/* line 174, ../_sass/app.sass */
.video-note {
  line-height: 50px;
  vertical-align: middle;
}
/* line 177, ../_sass/app.sass */
.video-note img {
  height: 50px;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-left: 1em;
}
/* line 182, ../_sass/app.sass */
.video-note a {
  text-decoration: none;
  border-bottom: 1px solid #0cc6e8;
}
/* line 185, ../_sass/app.sass */
.video-note a:hover {
  border-bottom: 1px solid #099db8;
  color: #099db8;
  padding-bottom: 3px;
}

/* line 190, ../_sass/app.sass */
footer {
  text-align: center;
  background: #022329;
  background-image: url("../images/footer_bg.jpg");
  background-repeat: none;
  background-size: 120% auto;
  background-position: 50% 50%;
}
/* line 197, ../_sass/app.sass */
footer img:hover {
  border: 4px solid #3198d3;
}
/* line 199, ../_sass/app.sass */
footer img {
  border: 4px solid rgba(255, 255, 255, 0);
  width: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-left: 1em;
}
