<div class="row">
  <h1>Hello.</h1>
</div>

<div class="row">
  <h3>You are following <%= @following.length %></h3> funnlers!
  <ul class="people-list">
    <% @following.each do |user| %>
    <li><%= user.to_s %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <h3>More funnlers to follow:</h3>
  <% @users.each do |user| %>
    <div>
      <%= user.to_s %>
      <button onclick="alert('nope')"> Follow</button>
    </div>
  <% end %>
</div>
