body
  background: #eee
.header
  width: 100%
  margin-top: 2em
.header .logo
  width: 200px
  height: 28px
  background-size: 200px 28px
  overflow: hidden
  z-index: 100
  background: url("images/logo.png") no-repeat;
  text-indent: -9999
.mission-statment
  text-align: center
  margin-top: 2em
  text-transform: uppercase
.container
  width: 1140px
  margin: 0 auto

#awesome_video
  position: absolute
  z-index: -9999
  top: 0
  left: 0
  width: 100%