.page-menu
  flex: 0 0 250px
  background: #333
  color: #eee

.page-menu__logo
  display: flex
  align-items: center

.logo-text
  margin-left: 8px
  font-size: 32px
  font-weight: 900

.menu-item__anchor
  display: flex
  width: 100%
  padding: 1em
  background: #444
  color: #fff
  &:hover
    background: scale-color(#444, $lightness: 5%)
    color: #fff

.menu-item__icon
  width: 24px
  height: 24px
  background: #fff
  margin-right: 8px

.page-content
  flex: 1 1 100%
  overflow-y: scroll

.row
  padding: 1em

.people-list__person
  display: flex
  justify-content: space-between
  width: 100%
  background: #ccc
  padding: 5px
  margin-bottom: 5px

.person__last-share
  font-size: 10px