.page-menu
  flex: 0 0 250px
  background: #333
  color: $base-light

.page-menu__logo
  display: flex
  align-items: center

.logo-text
  margin-left: 8px
  font-size: 32px
  font-weight: 900

.menu-item__anchor
  display: flex
  width: 100%
  padding: 1em
  background: #444
  color: #fff
  &:hover
    background: scale-color(#444, $lightness: 5%)
    color: #fff

.menu-item__icon
  width: 24px
  height: 24px
  background: #fff
  margin-right: 8px

.page-content
  flex: 1 1 100%
  overflow-y: scroll
  padding-left: 3em
  padding-top: 0.5em

.row
  margin: 1em
  padding: 1em
  background

.people-list__person
  display: flex
  justify-content: space-between
  width: 60%
  padding: 10px 0 12px 0
  border-bottom: 1px solid lighten($base-dark, 70%)

.person__last-share
  font-size: 10px



=button($bg-color,$fg-color)
  outline: none
  color: $fg-color
  text-align: center
  padding: 0px 15px
  text-transform: uppercase
  background-color: $bg-color
  border: 1px solid scale-color($bg-color, $lightness: -10%)
  height: 100%
  +background-image (linear-gradient($bg-color, scale-color($bg-color, $lightness: -10%)))
  +border-radius (2px)
  +text-shadow (scale-color($bg-color, $lightness: -20%) 0px 1px 1px)
  &:hover
    border: 1px solid darken($bg-color, 10%)
    +background-image (linear-gradient($bg-color, scale-color($bg-color, $lightness: -15%)))
    +text-shadow (scale-color($bg-color, $lightness: -25%) 0px 1px 1px)
  &:active
    +border-radius (1px)

.button--follow
  input[type="submit"]
    +button($accent-cta, $base-light)
  
  

