<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <script type="text/javascript">
  var index = 1,
      playlist = ['movies/funnle.m4v'],
      video = document.getElementById('awesome_video');

  video.addEventListener('ended', rotate_video, false);

  function rotate_video() {
    video.setAttribute('src', playlist[index]);
    video.load();
    index++;
    if (index >= playlist.length) { index = 0; }
  }
</script>
  <link rel="stylesheet" href="css/app.css">

</head>
<body>

  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header class="header container">
    <h1 class="logo">Funnle</h1>
  </header>

  <div class="container">

    {{ content }}

  </div>

  <footer class="footer container">
    <p>&copy; Funnle 2013</p>
  </footer>

</body>
</html>
